
<div class="color-picker" data-area="colorpicker">
	<div class="wheel" data-click="do-click">
		<div class="cursor"></div>
	</div>
	<div class="range">
		<div class="cursor"></div>
	</div>

	<div class="group-head">
		<span class="active">RGB</span>
		<span>HSV</span>
		<span>Palette</span>
	</div>
	<div class="group-body">
		<div>
			<div class="btn disabled pipette">
				<i class="icon-pipette"></i>
			</div>
			<fieldset class="color-group">
				<div style="--value: 0.911;" data-value="0.911"><b>R</b></div>
				<div style="--value: 0.843;" data-value="0.843"><b>G</b></div>
				<div style="--value: 0.467;" data-value="0.467"><b>B</b></div>
				<div style="--value: 1.000;" data-value="1.000"><b>A</b></div>
			</fieldset>
		</div>
		<div>
			<div class="btn disabled pipette">
				<i class="icon-pipette"></i>
			</div>
			<fieldset class="color-group">
				<div style="--value: 1.000;" data-value="1.000"><b>H</b></div>
				<div style="--value: 1.000;" data-value="1.000"><b>S</b></div>
				<div style="--value: 1.000;" data-value="1.000"><b>V</b></div>
				<div style="--value: 1.000;" data-value="1.000"><b>A</b></div>
			</fieldset>
		</div>
		<div>
			Palette
		</div>
	</div>

</div>
