
<div class="color-picker" data-area="colorpicker">
	<div class="wheel" data-click="do-click">
		<div class="cursor"></div>
	</div>
	<div class="range">
		<div class="cursor"></div>
	</div>

	<div class="group-head">
		<span class="active">RGB</span>
		<span>HSV</span>
		<span>Hex</span>
	</div>
	<div class="group-body">
		<div>
			<fieldset class="color-group">
				<div data-label="R">1.000</div>
				<div data-label="G">1.000</div>
				<div data-label="B">1.000</div>
				<div data-label="A">1.000</div>
			</fieldset>
		</div>
		<div>
			<fieldset class="color-group">
				<div data-label="H">1.000</div>
				<div data-label="S">1.000</div>
				<div data-label="V">1.000</div>
				<div data-label="A">1.000</div>
			</fieldset>
		</div>
		<div>
			Hex Value
		</div>
	</div>

</div>
