<content class="show-blank-view">
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>

	<div class="workspace" data-area="workspace">
		<!-- main canvas goes here -->
	</div>

	<div class="sidebar" data-area="sidebar">
		<div class="tree">
			<!-- scene children goes here -->

			<div class="row">
				<i class="icon-arrow"></i>
				<i class="icon-scene"></i>
				<span>Scene</span>

				<div class="children">
					<div class="row">
						<i class="icon-arrow"></i>
						<i class="icon-camera"></i>
						<span>Camera</span>
						<i class="icon-eye-on"></i>
					</div>

					<div class="row">
						<i class="icon-arrow"></i>
						<i class="icon-light"></i>
						<span>Light</span>
						<i class="icon-eye-on"></i>
					</div>

					<div class="row">
						<i class="icon-arrow"></i>
						<i class="icon-mesh"></i>
						<span>Group</span>
						<i class="icon-eye-on"></i>

						<div class="children">
							<div class="row">
								<i class="icon-arrow"></i>
								<i class="icon-mesh"></i>
								<span>Box</span>
								<i class="icon-eye-on"></i>
							</div>

							<div class="row">
								<i class="icon-arrow"></i>
								<i class="icon-mesh"></i>
								<span>Sphere</span>
								<i class="icon-eye-on"></i>
							</div>

							<div class="row">
								<i class="icon-arrow"></i>
								<i class="icon-mesh"></i>
								<span>Torus Knot</span>
								<i class="icon-eye-on"></i>
							</div>
						</div>
					</div>

					<div class="row">
						<i class="icon-arrow"></i>
						<i class="icon-mesh"></i>
						<span>Mesh</span>
						<i class="icon-eye-off"></i>
					</div>
				</div>
			</div>

		</div>
		<div class="properties">
			<!-- scene children goes here -->
		</div>
	</div>
</content>
