<content class="show-blank-view">

	@import "color-picker.htm"

	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>

	<div class="workspace" data-area="workspace">
		<!-- main canvas goes here -->
	</div>

	<div class="sidebar" data-area="sidebar">
		<div class="wrapper">
			<div class="tree" data-section="tree" data-click="handle-tree-event">
				<!-- scene tree goes here -->
			</div>
			<div class="properties">
				<div class="tabs" data-click="select-sidebar-tab">
					<div title="Scene Properties." data-name="scene"><i class="icon-scene"></i></div>
					<div title="Camera Properties." data-name="camera"><i class="icon-camera"></i></div>
					<div title="Light Properties." data-name="light"><i class="icon-light"></i></div>
					<div title="Modifiers." data-name="modifiers"><i class="icon-tools"></i></div>
					<div title="Material Properties." data-name="material"><i class="icon-material"></i></div>
					<div title="Files." data-name="files"><i class="icon-group"></i></div>
					<div title="Settings." data-name="settings"><i class="icon-cog"></i></div>
					<div title="Texture Properties." data-name="texture"><i class="icon-texture"></i></div>
					<div title="Object Properties." data-name="object"><i class="icon-object"></i></div>
				</div>
				<div class="tab-body">
					<!-- item proeperties goes here -->
					@import "sidebar/scene.htm"
					@import "sidebar/camera.htm"
					@import "sidebar/light.htm"
					@import "sidebar/modifiers.htm"
					@import "sidebar/material.htm"
					@import "sidebar/files.htm"
					@import "sidebar/settings.htm"
					@import "sidebar/texture.htm"
					@import "sidebar/object.htm"
				</div>
			</div>
		</div>
	</div>
</content>
