
@import "blankView";
@import "sidebar";
@import "color-picker";
// for dark theme
@import "theme-dark";

// applies to window body
overflow: visible;
// background: transparent;


@sidebar_speed: 220ms;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ccc;
	background: rgba(0,0,0,0);
	transition: background @sidebar_speed;

	&.show-blank-view {
		.blank-view { display: block; }
		.workspace { display: none; }
	}

	&.resizing {
		transition-duration: 0s;

		.workspace,
		.sidebar {
			transition-duration: 0s;
		}
	}

	&.show-sidebar {
		background: rgba(1,0,0,0); // cssSequence stopper

		.workspace {
			right: var( --sidebar-width );

			canvas {
				border-radius: 5px 0 0 5px;
			}
		}

		.sidebar {
			width: var( --sidebar-width );
			border-left-width: 1px;
		}
	}

	&.cover:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		background: transparent;
	}

	&.hideMouse:after {
		cursor: none;
	}

	[class*="icon-"],
	[class^="icon-"] {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 17px;
		height: 17px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		&.icon-folder-open { background-image: url(~/icons/icon-folder-open.png); }
		&.icon-clipboard   { background-image: url(~/icons/icon-clipboard.png); }

		&.icon-blank    { background-image: none; }
		&.icon-arrow    { background-image: url(~/icons/icon-arrow.png); }
		&.icon-group    { background-image: url(~/icons/icon-group.png); }
		&.icon-cog      { background-image: url(~/icons/icon-cog.png); }
		&.icon-tools    { background-image: url(~/icons/icon-tools.png); }
		&.icon-material { background-image: url(~/icons/icon-material.png); }
		&.icon-texture  { background-image: url(~/icons/icon-texture.png); }
		&.icon-eye-on   { background-image: url(~/icons/icon-eye-on.png); }
		&.icon-eye-off  { background-image: url(~/icons/icon-eye-off.png); }
		&.icon-scene    { background-image: url(~/icons/icon-scene.png); }
		&.icon-camera   { background-image: url(~/icons/icon-camera.png); }
		&.icon-light    { background-image: url(~/icons/icon-light.png); }
		&.icon-mesh     { background-image: url(~/icons/icon-mesh.png); }
		&.icon-object   { background-image: url(~/icons/icon-object.png); }
		&.icon-pipette  { background-image: url(~/icons/icon-pipette.png); }
		&.icon-sort     { background-image: url(~/icons/icon-sort.png); }
	}
}

.workspace {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	transition: right @sidebar_speed;

	> canvas {
		border-radius: 5px;
	}
    
	#viewport {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}

	#viewInfo {
		position: absolute;
		left: 11px;
		bottom: 7px;
		font-size: 12px;
		line-height: 1.25;
		color: #ffffff60;
		text-shadow: 0 1px 0 rgba(0,0,0,.25);

		div {
			.Text {
				text-transform: lowercase;
			}

			.item-value {
				padding-left: 5px;
			}
		}
	}

	#viewHelper {
		position: absolute;
		right: 0;
		top: 0;
		width: 128px;
		height: 128px;

		&:hover:before {
			background: rgba(255,255,255,.125);
		}

		&:before {
			content: "";
			position: absolute;
			top: 19px;
			left: 19px;
			right: 19px;
			bottom: 19px;
			border-radius: 50%;
		}

		&.mouseHand {
			cursor: pointer;
		}
	}

	.Panel {
		&.hidden {
			display: none;
		}
	}
}
