
@import "blankView";

// applies wot window body
background: #333;


@sidebar_speed: 220ms;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	&.show-blank-view {
		background: transparent;

		.blank-view { display: block; }
		.workspace { display: none; }
	}

	&.show-sidebar {
		.workspace {
			right: 270px;
		}

		.sidebar {
			right: 0;
		}
	}

	&.cover:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		background: transparent;
	}

	[class*="icon-"],
	[class^="icon-"] {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 17px;
		height: 17px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		&.icon-folder-open { background-image: url(~/icons/icon-folder-open.png); }
		&.icon-clipboard   { background-image: url(~/icons/icon-clipboard.png); }

		&.icon-arrow    { background-image: url(~/icons/icon-arrow.png); }
		&.icon-eye-on   { background-image: url(~/icons/icon-eye-on.png); }
		&.icon-eye-off  { background-image: url(~/icons/icon-eye-off.png); }
		&.icon-scene    { background-image: url(~/icons/icon-scene.png); }
		&.icon-camera   { background-image: url(~/icons/icon-camera.png); }
		&.icon-light    { background-image: url(~/icons/icon-light.png); }
		&.icon-mesh     { background-image: url(~/icons/icon-mesh.png); }
	}
}

.workspace {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	transition: right @sidebar_speed;
    
	#viewport {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}

	#viewInfo {
		position: absolute;
		left: 11px;
		bottom: 7px;
		font-size: 12px;
		line-height: 1.25;
		color: #ffffff60;
		text-shadow: 0 1px 0 rgba(0,0,0,.25);

		div {
			.Text {
				text-transform: lowercase;
			}

			.item-value {
				padding-left: 5px;
			}
		}
	}

	#viewHelper {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 128px;
		height: 128px;

		&:hover:before {
			background: rgba(255,255,255,.125);
		}

		&:before {
			content: "";
			position: absolute;
			top: 19px;
			left: 19px;
			right: 19px;
			bottom: 19px;
			border-radius: 50%;
		}

		&.mouseHand {
			cursor: pointer;
		}
	}
}

.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -270px;
	width: 270px;
	display: flex;
	flex-direction: column;
	background: #333;
	border-left: 1px solid #222;
	transition: right @sidebar_speed;

	.tree {
		background: #3d3d3d;
		color: #aaa;
		padding: 2px 0 0 1px;
		height: 240px;
		border-bottom: 1px solid #222;

		[class*="icon-"],
		[class^="icon-"] {
			width: 15px;
			height: 15px;
			filter: drop-shadow(0 1px 0 #333);
		}

		.icon-arrow {
			width: 13px;
			height: 13px;
			filter: drop-shadow(0 1px 0 #222);
		}

		.icon-eye-on,
		.icon-eye-off {
			position: absolute;
			top: 2px;
			right: 7px;
			width: 15px;
			height: 15px;
			opacity: .65;
		}

		.row {
			position: relative;
			min-height: 19px;
			padding: 1px 0 0 2px;

			&:hover {
				> span {
					color: #fff;
				}
				> .icon-eye-on,
				> .icon-eye-off {
					opacity: 1;
				}
			}

			.children {
				padding-left: 13px;
			}
		}
	}

	.properties {
		flex: 1;
	}
}
