
@import "blankView";

// applies wot window body
background: transparent;


content {
	background: #333;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	&.show-blank-view {
		background: transparent;

		.blank-view { display: block; }
		.workspace { display: none; }
	}

	[class*="icon-"],
	[class^="icon-"] {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 17px;
		height: 17px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		&.icon-folder-open { background-image: url(~/icons/icon-folder-open.png); }
		&.icon-clipboard   { background-image: url(~/icons/icon-clipboard.png); }
	}
}

.workspace {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
	.Panel {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;

		// #toolbar {
		// 	left: 10px;
		// 	top: 42px;
		// 	width: 32px;
		// 	background: #eee;
		// 	color: #aaa;
		// 	text-align: center;
		// }

		// #info {
		// 	top: auto;
		// 	right: auto;
		// 	left: 10px;
		// 	bottom: 10px;
		// 	font-size: 12px;
		// 	color: rgb(255, 255, 255);
		// }

		// #viewHelper {
		// 	top: auto;
		// 	left: auto;
		// 	height: 128px;
		// 	width: 128px;
		// }

		// select {
		//     color: #666;
		//     background-color: #ddd;
		//     border: 0px;
		//     text-transform: uppercase;
		//     cursor: pointer;
		//     outline: none;
		// 	padding: 2px;
		//     position: absolute;
		//     right: 10px;
		//     top: 10px;
		// }
	}
}
