
.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -270px;
	width: 270px;
	display: flex;
	flex-direction: column;
	background: #303030;
	color: #aaa;
	border-left: 1px solid #222;
	transition: right @sidebar_speed;

	.tree {
		background: #3d3d3d;
		padding: 2px 0 0 1px;
		height: 240px;
		margin-bottom: 1px;
		display: flex;
		flex-direction: column;

		.head {
			height: 23px;
			padding: 3px 0 0 2px;
			background-color: #494949;
			text-shadow: 0 1px 0 #333;
		}

		.body {
			flex: 1;
			overflow: auto;
			padding: 2px 3px;
			border-radius: 0 0 3px 0;
		}

		[class*="icon-"],
		[class^="icon-"] {
			width: 15px;
			height: 15px;
			filter: drop-shadow(0 1px 0 #333);
		}

		.icon-arrow {
			width: 13px;
			height: 13px;
			filter: none;
		}

		.icon-eye-on,
		.icon-eye-off {
			position: absolute;
			top: 2px;
			right: 7px;
			width: 15px;
			height: 15px;
			opacity: .65;

			&.icon-eye-on {
				opacity: 0;
			}
		}

		.row {
			position: relative;
			min-height: 20px;
			padding: 2px 0 0 2px;

			&:hover {
				> span {
					color: #fff;
				}
				> .icon-eye-on,
				> .icon-eye-off {
					opacity: 1;
				}
			}

			.children {
				padding-left: 13px;
			}
		}
	}

	.properties {
		flex: 1;
		display: flex;

		.tabs {
			width: 25px;

			> div {
				background-color: #363636;
				border-radius: 5px 0 0 5px;
				margin: 0 1px 2px 0;
				padding: 5px 4px;
				width: 24px;
				height: 27px;
				cursor: pointer;

				&:hover:not(.active) {
					background-color: #424242;

					i:not(.icon-texture) {
						filter: drop-shadow(0 1px 0 #333) opacity(1);
					}
				}

				i {
					pointer-events: none;
					background-size: 15px 15px;
					filter: grayscale(1) opacity(.5) drop-shadow(0 1px 0 #333);

					&.icon-texture {
						filter: grayscale(1) opacity(.5);
					}
				}

				&.active {
					background-color: #424242;
					width: 25px;
					margin-right: 0;
					cursor: default;

					i:not(.icon-texture) {
						filter: drop-shadow(0 1px 0 #333);
					}
				}
			}
		}

		.tab-body {
			flex: 1;
			background: #424242;
			position: relative;

			> div[data-section] {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				&.active {
					display: flex;
					flex-direction: column;
					padding: 4px;
				}

				.head {
					height: 23px;
					padding: 3px 0 0 2px;
					text-shadow: 0 1px 0 #333;
				}

				.body {
					flex: 1;
					overflow: auto;
					padding: 7px 5px;
					background-color: #494949;
					box-shadow: 0 1px 0 #393939;
					border-radius: 0 0 3px 0;
				}
			}
		}
	}
}

fieldset {
	position: relative;
	margin-bottom: 5px;

	&.color-group {
		div {
			margin: 0 29px 1px 0;
			border-radius: 0;
			text-align: right;
			padding-right: 7px;

			&:before {
				left: 7px;
				text-align: left;
			}

			&:nth-child(1) {
				border-radius: 4px 4px 0 0;
			}

			&:nth-child(2) {
				border-radius: 0;
			}

			&:nth-child(3) {
				border-radius: 0 0 4px 4px;
			}

			&:nth-child(4) {
				border-radius: 4px;
				margin-top: 2px;
			}
		}
	}

	legend {
		position: absolute;
		padding: 4px 0 3px;
		text-shadow: 0 1px 0 #333;
	}

	div {
		position: relative;
		background: #555;
		margin: 0 3px 1px 83px;
		padding: 4px 0 3px;
		text-align: center;

		&:before {
			content: attr(data-label);
			position: absolute;
			top: 0;
			left: -53px;
			width: 47px;
			padding: inherit;
			text-align: right;
			font-size: 90%;
			line-height: 1.1;
			text-shadow: 0 1px 0 #333;
		}

		&:nth-child(2) {
			border-radius: 4px 4px 0 0;
		}

		&:nth-child(4) {
			border-radius: 0 0 4px 4px;
		}
	}
}

.group-head {
	font-size: 0;
	margin: 9px 0 7px;
	display: flex;
	
	> span {
		flex: 1;
		background: #666;
		color: #aaa;
		font-size: 13px;
		text-shadow: 0 1px 0 #222;
		padding: 3px 5px 2px;
		margin-right: 1px;

		&.active {
			background: #999;
			color: #eee;
		}

		&:first-child {
			border-radius: 4px 0 0 4px;
		}

		&:last-child {
			border-radius: 0 4px 4px 0;
			margin-right: 0;
		}
	}
}

.group-body {
	> div {
		display: none;

		&:nth-child(1) {
			display: block;
		}
	}
}
