<div data-section="camera">
	<div class="head">
		Camera
	</div>
	<div class="body">
		
		<fieldset data-click="testing">
			<legend>Location</legend>
			<div data-label="X">0 m</div>
			<div data-label="Y">0 m</div>
			<div data-label="Z">0 m</div>
		</fieldset>
		
		<fieldset>
			<legend>Rotation</legend>
			<div data-label="X">0 °</div>
			<div data-label="Y">0 °</div>
			<div data-label="Z">0 °</div>
		</fieldset>
		
		<fieldset>
			<legend>Scale</legend>
			<div data-label="X">1.000</div>
			<div data-label="Y">1.000</div>
			<div data-label="Z">1.000</div>
		</fieldset>

		<div class="field color" data-label="Base Color" style="--color: #ff9900; --opacity: #ff990070;"></div>
		
		<div class="field select" data-label="Blend Mode">
			<span>Normal</span>
		</div>

		<div class="field text" data-label="Name">
			<input type="text" value="Directional Light"/>
		</div>

		<div class="field checkbox" data-label="Backface Culling"></div>

		<div class="field checkbox" data-label="Motion Blur" data-checked="1"></div>

	</div>
</div>
