<div data-section="camera">
	<div class="head">
		Camera
	</div>
	<div class="body">
		
		<fieldset>
			<legend>Location</legend>
			<div data-label="X">0 m</div>
			<div data-label="Y">0 m</div>
			<div data-label="Z">0 m</div>
		</fieldset>
		
		<fieldset>
			<legend>Rotation</legend>
			<div data-label="X">0 °</div>
			<div data-label="Y">0 °</div>
			<div data-label="Z">0 °</div>
		</fieldset>
		
		<fieldset>
			<legend>Scale</legend>
			<div data-label="X">1.000</div>
			<div data-label="Y">1.000</div>
			<div data-label="Z">1.000</div>
		</fieldset>

	</div>
</div>
