<div data-section="material">
	<div class="head">
		Material
	</div>
	<div class="body">
		<ul class="matcap-list" data-click="select-matcap">
			<li style="background-image: url(~/matcaps/resin.jpeg);"></li>
			<li style="background-image: url(~/matcaps/basic_1.jpg);"></li>
			<li style="background-image: url(~/matcaps/basic_2.jpg);"></li>
			<li style="background-image: url(~/matcaps/basic_dark.jpeg);"></li>
			<li style="background-image: url(~/matcaps/basic_side.jpeg);"></li>
			<li style="background-image: url(~/matcaps/ceramic_dark.jpeg);"></li>
			<li style="background-image: url(~/matcaps/ceramic_lightbulb.jpeg);"></li>
			<li style="background-image: url(~/matcaps/check_normal+y.jpeg);"></li>
			<li style="background-image: url(~/matcaps/check_rim_dark.jpeg);"></li>
			<li style="background-image: url(~/matcaps/check_rim_light.jpeg);"></li>
			<li style="background-image: url(~/matcaps/clay_brown.jpeg);"></li>
			<li style="background-image: url(~/matcaps/clay_muddy.jpeg);"></li>
			<li style="background-image: url(~/matcaps/clay_studio.jpeg);"></li>
			<li style="background-image: url(~/matcaps/jade.jpeg);"></li>
			<li style="background-image: url(~/matcaps/metal_anisotropic.jpeg);"></li>
			<li style="background-image: url(~/matcaps/metal_carpaint.jpeg);"></li>
			<li style="background-image: url(~/matcaps/metal_lead.jpeg);"></li>
			<li style="background-image: url(~/matcaps/metal_shiny.jpeg);"></li>
			<li style="background-image: url(~/matcaps/pearl.jpeg);"></li>
			<li style="background-image: url(~/matcaps/reflection_check_horizontal.jpeg);"></li>
			<li style="background-image: url(~/matcaps/reflection_check_vertical.jpeg);"></li>
			<li style="background-image: url(~/matcaps/skin.jpeg);"></li>
			<li style="background-image: url(~/matcaps/toon.jpeg);"></li>
		</ul>
	</div>
</div>
