<div data-section="object">
	<div class="head">
		Object
	</div>
	<div class="body">
		
		<fieldset data-click="testing">
			<legend>Location</legend>
			<div class="field number" data-label="X" data-step="0.01" data-change="set-location"><span>0 m</span></div>
			<div class="field number" data-label="Y" data-step="0.01" data-change="set-location"><span>0 m</span></div>
			<div class="field number" data-label="Z" data-step="0.01" data-change="set-location"><span>0 m</span></div>
		</fieldset>
		
		<fieldset>
			<legend>Rotation</legend>
			<div class="field number" data-label="X" data-step="0.1" data-change="set-rotation"><span>0 °</span></div>
			<div class="field number" data-label="Y" data-step="0.1" data-change="set-rotation"><span>0 °</span></div>
			<div class="field number" data-label="Z" data-step="0.1" data-change="set-rotation"><span>0 °</span></div>
		</fieldset>
		
		<fieldset>
			<legend>Scale</legend>
			<div class="field number" data-label="X" data-step="0.01" data-change="set-scale"><span>1.00</span></div>
			<div class="field number" data-label="Y" data-step="0.01" data-change="set-scale"><span>1.00</span></div>
			<div class="field number" data-label="Z" data-step="0.01" data-change="set-scale"><span>1.00</span></div>
		</fieldset>

	</div>
</div>
