<div data-section="scene">
	<div class="head">
		Scene
	</div>
	<div class="body">
		
		<!-- Scene BG - START -->
		<div class="field select" data-label="Background" data-menu="scene-background">
			<span>None</span>
		</div>
		<div>
			<div class="hidden-fields" data-fields="Color">
				<div class="field color" data-label="Color"><b></b></div>
			</div>

			<div class="hidden-fields" data-fields="Texture">
				<div class="field image" data-label="Texture">
					<span data-open="Open&#8230;"
						style1="background-image: url(/fs/Desktop/coast.jpg);"
						data-click="select-image"></span>
				</div>
			</div>

			<div class="hidden-fields" data-fields="Equirect">
				<div class="field image" data-label="Equirect">
					<span data-open="Open&#8230;" data-click="select-image"></span>
				</div>
			</div>
		</div>
		<!-- Scene BG - END -->
		

		<!-- Scene ENV - START -->
		<div class="field select" data-label="Environment" data-menu="scene-environment">
			<span>None</span>
		</div>
		<div>
			<div class="hidden-fields" data-fields="Equirect">
				<div class="field image" data-label="Equirect">
					<span data-open="Open&#8230;" data-click="select-image"></span>
				</div>
			</div>
		</div>
		<!-- Scene ENV - END -->
		

		<!-- Scene FOG - START -->
		<div class="field select" data-label="Fog" data-menu="scene-fog">
			<span>None</span>
		</div>
		<div>
			<div class="hidden-fields" data-fields="Linear">
				<div class="field color" data-label="Color"><b></b></div>
				<fieldset>
					<legend>Linear</legend>
					<div data-label="Near">0.01</div>
					<div data-label="Far">50.00</div>
				</fieldset>
			</div>

			<div class="hidden-fields" data-fields="Exponential">
				<div class="field color" data-label="Color"><b></b></div>
				<div class="field number" data-label="Exponential" style="--value: 45%;">
					<span>0.048</span>
				</div>
			</div>
		</div>
		<!-- Scene FOG - END -->

	</div>
</div>
