<div data-section="scene">
	<div class="head">
		Scene
	</div>
	<div class="body">
		
		<!-- Scene BG - START -->
		<div class="field select" data-label="Background" data-menu="scene-background">
			<span>None</span>
		</div>

		<div class="hidden-fields show">
			<div class="field image" data-label="Texture" style="--image: url(/fs/Desktop/coast.jpg?w=232&h=148)"></div>
		</div>

		<div class="hidden-fields show1">
			<div class="field color" data-label="Color" style="--color: #ff9900; --opacity: #ff990070;"></div>
		</div>
		<!-- Scene BG - END -->
		

		<!-- Scene ENV - START -->
		<div class="field select" data-label="Environment" data-menu="scene-environment">
			<span>None</span>
		</div>
		<!-- Scene ENV - END -->
		

		<!-- Scene FOG - START -->
		<div class="field select" data-label="Fog" data-menu="scene-fog">
			<span>None</span>
		</div>
		<!-- Scene FOG - END -->

	</div>
</div>
