<div data-section="scene">
	<div class="head">
		Scene
	</div>
	<div class="body">
		
		<fieldset>
			<legend class="right">Viewport</legend>
			<div class="field checkbox" data-checked="1" data-label="Show Grid" data-change="viewport-toggle-view"></div>
			<div class="field checkbox" data-checked="1" data-label="Show Helpers" data-change="viewport-toggle-helpers"></div>
		</fieldset>

		<hr />
		
		<fieldset>
			<legend class="right">Renderer</legend>
			<div class="field checkbox" data-checked="1" data-label="Antialias"></div>
			<div class="field checkbox" data-label="Physical Lights"></div>
			<div class="field checkbox" data-label="Shadows"></div>

			<!-- Tone Mapping - START -->
			<div class="field select" data-label="Tone Mapping" data-menu="scene-tone-mapping">
				<span>No</span>
			</div>
			<div>
				<div class="hidden-fields" data-fields="Linear">
					<div class="field number" data-id="tone-mapping" data-label="Density" data-min="0" data-max="10" data-step="0.1" data-change="set-linear-tone-mapping" style="--value: 1%;">
						<span>1</span>
					</div>
				</div>
				<div class="hidden-fields" data-fields="Reinhard">
					<div class="field number" data-id="tone-mapping" data-label="Density" data-min="0" data-max="10" data-step="0.1" data-change="set-Reinhard-tone-mapping" style="--value: 1%;">
						<span>1</span>
					</div>
				</div>
				<div class="hidden-fields" data-fields="Cineaon">
					<div class="field number" data-id="tone-mapping" data-label="Density" data-min="0" data-max="10" data-step="0.1" data-change="set-cineaon-tone-mapping" style="--value: 1%;">
						<span>1</span>
					</div>
				</div>
				<div class="hidden-fields" data-fields="Acesfilmic">
					<div class="field number" data-id="tone-mapping" data-label="Density" data-min="0" data-max="10" data-step="0.1" data-change="set-acesfilmic-tone-mapping" style="--value: 1%;">
						<span>1</span>
					</div>
				</div>
			</div>
			<!-- Tone Mapping - END -->
		</fieldset>

		<hr />

		<!-- Scene BG - START -->
		<div class="field select" data-label="Background" data-menu="scene-background">
			<span>None</span>
		</div>
		<div>
			<div class="hidden-fields" data-fields="Color">
				<div class="field color" data-id="bg-color" data-label="Color" data-change="set-bg-color" style="--color: #333333; --opacity: 1;"><b></b></div>
			</div>

			<div class="hidden-fields" data-fields="Texture">
				<div class="field image" data-label="Texture">
					<span data-open="Open&#8230;"
						style1="background-image: url(/fs/Desktop/coast.jpg);"
						data-click="select-bg-texture-image"></span>
				</div>
			</div>

			<div class="hidden-fields" data-fields="Equirect">
				<div class="field image" data-label="Equirect">
					<span data-open="Open&#8230;" data-click="select-bg-equirect-image"></span>
				</div>
			</div>
		</div>
		<!-- Scene BG - END -->
		

		<!-- Scene ENV - START -->
		<div class="field select" data-label="Environment" data-menu="scene-environment">
			<span>None</span>
		</div>
		<div>
			<div class="hidden-fields" data-fields="Equirect">
				<div class="field image" data-label="Equirect">
					<span data-open="Open&#8230;" data-click="select-environment-equirect-image"></span>
				</div>
			</div>
		</div>
		<!-- Scene ENV - END -->
		

		<!-- Scene FOG - START -->
		<div class="field select" data-label="Fog" data-menu="scene-fog">
			<span>None</span>
		</div>
		<div>
			<div class="hidden-fields" data-fields="Linear">
				<div class="field color" data-id="fog-linear-color" data-label="Color" data-change="set-linear-fog-color" style="--color: #bb00ff; --opacity: 1;"><b></b></div>
				<div class="field number" data-id="fog-linear-near" data-label="Near" data-min="0" data-step="1" data-change="set-linear-fog-near"><span>1</span></div>
				<div class="field number" data-id="fog-linear-far" data-label="Far" data-min="0" data-step="10" data-change="set-linear-fog-far"><span>5000</span></div>
			</div>

			<div class="hidden-fields" data-fields="Exponential">
				<div class="field color" data-id="fog-color" data-label="Color" data-change="set-exponential-fog-color" style="--color: #bb00ff; --opacity: 1;"><b></b></div>
				<div class="field number" data-id="fog-density" data-label="Density" data-min="1" data-max="100" data-step="1" data-change="set-exponential-fog-density" style="--value: 1%;">
					<span>1</span>
				</div>
			</div>
		</div>
		<!-- Scene FOG - END -->

	</div>
</div>
